{% extends 'base.html' %}

{%block style%}

.accordion-header {
background-color: rgb(40, 134, 114);
cursor: pointer;
color: black;
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 1.5rem;
transition: all 0.4s ease-in-out;
}

.accordion-header h4 {
font-size: 1rem;
font-weight: 600;
}

.accordion-body {
transition: all 0.35s ease-in-out;
max-height: 0;
overflow: hidden;
background-color: rgb(252, 252, 252);
}

.accordion-body p {
padding: 1rem 1.5rem;
line-height: 1.8;
}

.accordion + .accordion {
margin-top: 1rem;
}

.accordion-icon {
transition: transform 0.4s ease-in-out;
}

.accordion.active .accordion-header {
background-color: rgb(40, 134, 114);
color: white;
}

.accordion.active .accordion-icon {
transform: rotate(-180deg);
}

{% endblock %}


{% block content %}


<<div class="container" style="margin-top: 6rem;">
    <article class="card">
        <header style="color: #EAA636 !important;" class="card-header"> My Orders / Tracking </header>
        <div class="card-body" >
            <h6 style="color: #3f3f3f !important;">Your Order</h6>
            <body>
            <div class="container">

                {% for order in orders %}


                <div class="accordions-wrapper">
                    <div class="accordion">
                        <div class="accordion-header">
                            <h4 style="width: 100%;display: flex;justify-content: space-around;">
                                <span>{{order.created}}</span>
                                <span>{{order.address}}</span>
                                <span>{{order.status}}</span>
                            </h4>
                            <i class="la la-angle-up accordion-icon"></i>
                        </div>

                        <div class="accordion-body">
                            <article class="card">
                                <div class="card-body row" style="background: #FDF5EB">
                                    <div style="color: #3f3f3f !important;" class="col"> <strong style="color: #3f3f3f !important;">Estimated Delivery time:</strong> <br>{{order.created}} </div>
                                    <div style="color: #3f3f3f !important;" class="col"> <strong style="color: #3f3f3f !important;">Shipping BY:</strong> <br> {{order.address}} | <i style="color: #3f3f3f !important;" class="fa fa-phone"></i> {{order.mobile}} </div>
                                    <div style="color: #3f3f3f !important;" class="col"> <strong style="color: #3f3f3f !important;">Status:</strong> <br>{{order.status}}</div>
                                    <div style="color: #3f3f3f !important;" class="col"> <strong style="color: #3f3f3f !important;">Comment #:</strong> <br>{{order.notice}}</div>
                                </div>
                            </article>
                            <div class="track">
                                <div class="step active"> <span class="icon"> <i style="color: #3f3f3f !important;" class="fa fa-check"></i> </span> <span style="color: #3f3f3f !important;" class="text">Order confirmed</span> </div>
                                <div class="step active"> <span class="icon"> <i style="color: #3f3f3f !important;" class="fa fa-user"></i> </span> <span style="color: #3f3f3f !important;" class="text"> Picked by courier</span> </div>
                                <div class="step"> <span class="icon"> <i style="color: #3f3f3f !important;" class="fa fa-truck"></i> </span> <span style="color: #3f3f3f !important;" class="text"> On the way </span> </div>
                                <div class="step"> <span class="icon"> <i style="color: #3f3f3f !important;" class="fa fa-box"></i> </span> <span style="color: #3f3f3f !important;" class="text">Ready for pickup</span> </div>
                            </div>
                            <hr>
                            <ul class="row">
                                {% for item in order.orderitem_set.all %}
                                <li class="col-md-4">
                                    <a href="{% url 'product_detail' item.product.id %}">
                                        <figure class="itemside mb-3">
                                            <div class="aside">
                                                <img style="width: 75%" src="{{item.product.image.url}}" class="img-sm border"></div>
                                            <figcaption class="info align-self-center" style="background: #FDF5EB">
                                                <p style="color: #3f3f3f !important;" class="title">{{item.product.name}} <br></p>
                                                <p style="color: #3f3f3f !important;" class="title">{{item.product.description}} <br></p>
                                                <span class="text-muted">{{item.product.price}} USD $ </span>
                                                <br>
                                                <span class="text-muted">Quantity: {{item.quantity}} </span>
                                            </figcaption>
                                        </figure>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            <hr>
                            <div style="background: #f9e4c3;">
                                <div style="display: flex; align-items: center; column-gap: 20px">
                                    <h5 style="color: forestgreen !important;">
                                        <h5 style="color: #EAA636 !important;">Total price: </h5>
                                        <s style="color: forestgreen !important;"> {{cart.get_total_price}} USD $</s>
                                    </h5>
                                </div>
                                <div style="display: flex; align-items: center; column-gap: 20px">
                                    <h5 style="color: #EAA636 !important;">
                                        With discount: </h5>
                                    <h5 style="color: forestgreen !important;"> {{cart.get_total_price_after_discount|floatformat:"2" }} USD $</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}



                </div>
            </div>


            <a href="{% url 'product_list' %}" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to products</a>
        </div>
    </article>
</div>


{% endblock %}



{% block javascript %}

<script>
    const accordionHeaders = document.querySelectorAll(".accordion-header");

    accordionHeaders[0].parentElement.classList.add("active");
    accordionHeaders[0].nextElementSibling.style.maxHeight =
        accordionHeaders[0].nextElementSibling.scrollHeight + "px";

    function toggleActiveAccordion(e, header) {
        const activeAccordion = document.querySelector(".accordion.active");
        const clickedAccordion = header.parentElement;
        const accordionBody = header.nextElementSibling;


        if (activeAccordion && activeAccordion != clickedAccordion) {
            activeAccordion.querySelector(".accordion-body").style.maxHeight = 0;
            activeAccordion.classList.remove("active");
        }

        clickedAccordion.classList.toggle("active");

        if (clickedAccordion.classList.contains("active")) {
            accordionBody.style.maxHeight = accordionBody.scrollHeight + "px";
        } else {
            accordionBody.style.maxHeight = 0;
        }
    }

    accordionHeaders.forEach(function (header) {
        header.addEventListener("click", function (event) {
            toggleActiveAccordion(event, header);
        });
    });

    function resizeActiveAccordionBody() {
        const activeAccordionBody = document.querySelector(
            ".accordion.active .accordion-body"
        );
        if (activeAccordionBody)
            activeAccordionBody.style.maxHeight =
                activeAccordionBody.scrollHeight + "px";
    }

    window.addEventListener("resize", function () {
        resizeActiveAccordionBody();
    });

</script>

{% endblock%}