{% extends 'base.html' %}

{% load static %}

{% block title %}

{% endblock %}

{% block content %}




<!-- Page Header Start -->
<div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center pt-5 pb-3">
        <h1 style="color: #f5d39b !important;" class="display-4 text-white animated slideInDown mb-3">Contact Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a style="color: #EAA636 !important;" class="text-white" href="{% url 'main_page' %}">Home</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page"><a style="color: #EAA636 !important;" class="text-white" href="{% url 'about' %}">About</a></li>
                <li class="breadcrumb-item"><a style="color: #EAA636 !important;" class="text-white" href="{% url 'contact' %}">Contact</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!--Contacts us First-->
<div class="vc_custom_heading border_base_color vc_custom_1501156789950 text_align_left title_no_stripe"><h3 style="margin-top: 4rem; color: #2f2a27 !important; line-height: 80px;text-align: center;">Our locations: 📍</h3></div>

<div class="wpb_text_column wpb_content_element  vc_custom_1613127760726">
    <div class="wpb_wrapper" style="text-align: center">
        <p><strong style="color: #2f2a27 !important;">Call, write to us if you have questions or want to get advice on buying a property.</strong></p>
        <p><strong style="color: #2f2a27 !important;">We will always be happy to answer all your questions</strong></p>
        <p><strong style="color: #2f2a27 !important;">The niche lists all contacts, numbers and addresses of our online store "Cyber Store"</strong></p>

    </div>
</div>
<div class="wpb_text_column wpb_content_element  vc_custom_1580530179979">
    <div style="display: flex; align-items: center"  class="wpb_wrapper">
        <div style="background: #FDF5EB">
        <p><strong style="margin-left: 5px; color: #2f2a27 !important;">Head Store:</strong><a style="margin-left: 5px; color: #2f2a27 !important;">Chui street 155, Shopping center «TSUM»</a></p>
        <p><strong style="margin-left: 5px; color: #2f2a27 !important;">Sales team:</strong><a style="margin-left: 5px; color: #2f2a27 !important;"> 1 этаж;<strong style="margin-left: 5px; color: #2f2a27 !important;">office:</strong>&nbsp;2 floor</p>
        <p><strong style="margin-left: 5px; color: #2f2a27 !important;">Sales team «Asia Mall»:</strong><a style="margin-left: 5px; color: #2f2a27 !important;"> Manasa street 197, Shopping center «Asia Mall»</a></p>
        <p><strong style="margin-left: 5px; color: #2f2a27 !important;">Our Address</strong><a style="margin-left: 5px; color: #2f2a27 !important;"> Chui street 155, Shopping center «TSUM»</a></p>
        <p><strong style="margin-left: 5px; color: #2f2a27 !important;">Phone numbers </strong><a style="margin-left: 5px; color: #2f2a27 !important;">+996 777 777 777 / +996 888 888 888</a></p></div>
        <img style="width: 45%" class="me-2" width="-webkit-fill-available" src="{% static 'img/callcenter.jpeg' %}"/>
        <!--        <div class="col-md-4">-->
        <!--            <img class="me-2" width="-webkit-fill-available" src="{% static 'img/callcenter.jpeg' %}"/>-->
        <!--        </div>-->
    </div>
</div>
<!-- Contact us First End -->


    <!-- Contact Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p tyle="margin-left: 5px; color: #EAA636 !important;" class="text-primary text-uppercase mb-2"> Contact Us</p>
                <h1 style="margin-left: 5px; color: #EAA636 !important;" class="display-6 mb-4">📨 If You Have Any Query, Please Contact Us</h1>
            </div>
            <div class="row g-0 justify-content-center">
                <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                    <p style="color: #EAA636 !important;" class="text-center mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
                    <form
                            action="https://formspree.io/f/xvolnzdr"
                            method="POST"
                    >
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name" name="name">
                                    <label style="margin-left: 5px; color: #EAA636 !important;" for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email" name="email">
                                    <label style="margin-left: 5px; color: #EAA636 !important;" for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 200px" name="text"></textarea>
                                    <label style="margin-left: 5px; color: #EAA636 !important;" for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Testimonial Start -->
    <div class="container-xxl bg-light my-6 py-3 pb-0">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px; display: flex; justify-content: center;">
            </div>
            <div id="map" style="width: 100%; height: 400px"></div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>



{% endblock %}