{% extends 'base.html' %}

{% load static %}

{% block title %}
iPhone
{% endblock %}

{% block content %}

<!-- Start home-about Area -->
<section style="margin-top: 10px; display: flex; justify-content: center; background-color: #f5f5f5e7;">
    <div>
        <img src="{% static 'img/iphone-large.jpeg' %}" alt="">


    </div>
</section>
<!-- End home-about Area -->
</section>

<!-- Start video-sec Area -->
<section style="background-color    : black;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <!-- <h1 style="margin-bottom: 30px;">MacBook Pro</h1> -->
                    <h3 style="margin-top: 40px; color: white;" class="mb-10">Easy on the eyes. Easy on the fingers.
                    </h3>

                </div>
                <div style="display: flex; justify-content: space-between; margin-top: 70px; margin-bottom: 100px;">
                    <div>
                        <img class='image' src="{% static 'img/fitness1.jpeg' %}" alt="">
                        <p style="color:white; width: 300px; margin-top: 50px;">Across the system, buttons have been
                            redesigned to take advantage of the larger display. So using apps like Calculator,
                            Stopwatch, and Timer is easier than ever.</p>
                        <style>
                            .image { 
                                transition: all 1.5s ease-in-out 0s; 
                            }
                            .image:hover{
                                cursor: default;
                                transform: rotateY(360deg);
                                transition: all 1.5s ease-in-out 0s;
                            }
                        </style>
                    </div>
                    <div>
                        <img class="image" src="{% static 'img/display2.jpeg' %}" alt="">
                        <p style="color:white; width: 300px; margin-top: 50px;">An Apple Watch first — a QWERTY keyboard
                            lets you tap or slide from letter to letter with QuickPath. It uses machine learning to
                            predict the word you’re typing.</p>
                            <style>
                                .image { 
                                    transition: all 1.5s ease-in-out 0s; 
                                }
                                .image:hover{
                                    cursor: default;
                                    transform: rotateY(360deg);
                                    transition: all 1.5s ease-in-out 0s;
                                }
                            </style>
                        </div>
                    <div>
                        <img class="image" src="{% static 'img/display3.jpeg'%}" alt="">
                        <p style="color:white; width: 300px; margin-top: 50px;">Use Scribble to write letters on your
                            screen and compose a text or email. The larger display makes it faster and easier for all
                            finger types.</p>
                            <style>
                                .image { 
                                    transition: all 1.5s ease-in-out 0s; 
                                }
                                .image:hover{
                                    cursor: default;
                                    transform: rotateY(360deg);
                                    transition: all 1.5s ease-in-out 0s;
                                }
                            </style>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">

            <div style="display: flex; align-items:center; justify-content:center;">

            </div>


        </div>
    </div>



</section>
<!-- End video-sec Area -->
<!-- End top-course Area -->

<section style="background-color: #f5f5f5e7;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <!-- <h1 style="margin-bottom: 30px;">MacBook Pro</h1> -->
                    <h3 style="margin-top: 40px; color: black;" class="mb-10">Motivation from start to finish line.
                    </h3>

                </div>
                <div style="display: flex; justify-content: space-between; margin-top: 70px; margin-bottom: 100px;">
                    <div>
                        <img class='image' src="{% static 'img/display1.jpeg'%}" alt="">
                        <p style="color:black; width: 300px; margin-top: 50px;">Activity Rings. Move, Exercise, and Stand. Three rings that show all the ways you move throughout the day.</p>
                        <style>
                            .image { 
                                transition: all 1.5s ease-in-out 0s; 
                            }
                            .image:hover{
                                cursor: default;
                                transform: rotateY(360deg);
                                transition: all 1.5s ease-in-out 0s;
                            }
                        </style>
                    </div>
                    <div>
                        <img class="image" src="{% static 'img/fitness2.jpeg'%}" alt="">
                        <p style="color:black; width: 300px; margin-top: 50px;">Activity Sharing. Share your Activity rings with friends and family to encourage each other</p>
                            <style>
                                .image { 
                                    transition: all 1.5s ease-in-out 0s; 
                                }
                                .image:hover{
                                    cursor: default;
                                    transform: rotateY(360deg);
                                    transition: all 1.5s ease-in-out 0s;
                                }
                            </style>
                        </div>
                    <div>
                        <img class="image" src="{% static 'img/fitness3.jpeg'%}" alt="">
                        <p style="color:black; width: 300px; margin-top: 50px;">Competitions. Invite friends to compete in a seven-day Activity challenge.</p>
                            <style>
                                .image { 
                                    transition: all 1.5s ease-in-out 0s; 
                                }
                                .image:hover{
                                    cursor: default;
                                    transform: rotateY(360deg);
                                    transition: all 1.5s ease-in-out 0s;
                                }
                            </style>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">

            <div style="display: flex; align-items:center; justify-content:center;">

            </div>


        </div>
    </div>



</section>



<!-- Start top-course Area -->
<section style="margin-top: 80px; display: flex; justify-content: center;">
    <h1 style="font-size: 150px;">Coming soon</h1>

   
</section>

{% endblock %}